/* Global styles */
:root {
  --black-color: rgba(0, 0, 0);
  --white-color: #ffffff;
  --red-color: rgba(211, 9, 19);
  --border-bottom: 8px solid #333
}

body {
  font-family: 'Helvetica' !important;
  -web-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

.bg-dark {
  background-color: var(--black-color);
  padding: 200px 0;
}

.bg-black {
  background-color: var(--black-color);
  color: var(--white)
  border-bottom: var(--border-bottom);
}
