.hero{
    background-image:linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%), url('../../images/hero.jpg');
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 150vh;
}

#logo {
    width: 160px;
}

.card {
    background: rgba(10, 8, 8, 0.774);
    color: #fff;
    width: 100%;
    max-width: 450px;
    height: 85vh;
    margin: auto;
    border-radius: 0.5em;
}

.signIn {
    width: 100%;
    max-width: 330px;
    font-size: 12px;
    margin: auto;
    height: 100%;
}

#facebook {
    width: 20px;
    /* background-color: rgb(255, 0, 0); */
    background: white;
}