.watch-content {
  padding: 4rem 1rem;
}

.subtitle {
  font-weight: 400 !important;
}

.main-title {
  font-weight: 800 !important;
  font-size: 48px !important;
}

.watch-img {
  max-width: 100%;
}

.content-pad {
  padding: 4rem 1rem 2rem !important;
}